/* Backend-Appearance */
#ab-appearance { max-width: 960px; }
div.controls {
    float: right;
    margin-right: 15px;
    margin-top: 10px;
}

span.spinner {
    float: left;
    margin-right: 20px;
}

.editable-click {
    cursor: pointer;
}

.ab-first-step .select-list {
    background: transparent;
}

input.appearance-color-picker{
    height: 24px !important;
    background:#f3f3f3;
    background-image:-webkit-gradient(linear,left top,left bottom,from(#fefefe),to(#f4f4f4));
    background-image:-webkit-linear-gradient(top,#fefefe,#f4f4f4);
    background-image:-moz-linear-gradient(top,#fefefe,#f4f4f4);
    background-image:-o-linear-gradient(top,#fefefe,#f4f4f4);
    background-image:linear-gradient(to bottom,#fefefe,#f4f4f4);
}

.editable-container.popover { z-index: 10001; }
.editable-container.editable-popup .arrow { margin-left: 0 !important; }
.editable-input > textarea { width: 475px!important; }

.editableform-loading { background: url('../../../../resources/images/loading.gif') center center no-repeat !important; }
.editable-clear-x { background: url('../../../../resources/images/clear.png') center center no-repeat !important; }

/* media query */
@media screen and (max-width: 782px) {
    .ab-columnizer-wrap { height: 662px!important; }
}