body .ab-booking-form input,
body .ab-booking-form select, body .ab-booking-form ul,
body .ab-booking-form li, body .ab-booking-form p,
.ab-booking-form form, body .ab-booking-form label {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body .ab-booking-form p { margin: 0!important; }
/* HTML5 display-role reset for older browsers */
body .ab-booking-form article, body .ab-booking-form aside,
body .ab-booking-form details, body .ab-booking-form figcaption,
body .ab-booking-form figure,body .ab-booking-form footer,
body .ab-booking-form header, body .ab-booking-form hgroup,
body .ab-booking-form menu, body .ab-booking-form nav,
body .ab-booking-form section {
    display: block;
}
body .ab-booking-form  ol, body .ab-booking-form ul {
    list-style: none;
}
body .ab-booking-form ul > li:before {
    content: ""!important;
    background: none!important;
}
body .ab-booking-form  blockquote,
body .ab-booking-form q {
    quotes: none;
}
body .ab-booking-form table {
    border-collapse: collapse;
    border-spacing: 0;
}