/* global class */
.ab-list-none { list-style: none; }
.ab-left { float: left!important; }
.ab-right { float: right!important; }
.ab-clear { clear: both!important; }
.ab-bold { font-weight: bold!important; }
.ab-list { margin-left: 10px!important; }
.ab-clearBottom { margin-bottom: 0!important; }
.ab-hidden { overflow: hidden; }
.ab-none { display: none!important; }

/* <booking-form> */

    .ab-booking-form {
        font-size: 14px!important;
        color: #5f6267;
        margin: 0 auto;
    }

    /* <progress-tracker> */
        .ab-progress-tracker { display: table; width: 100%; margin-bottom: 20px!important; }
        .ab-progress-bar { margin: 0 0 10px 0!important; overflow: hidden!important; display: table-row; padding: 0!important; }
        .ab-progress-bar .ab-step-tabs { display: table-cell; padding-left: 4px; width: 20%; list-style: none; }
        .ab-progress-bar .ab-step-tabs .step ~ .ab-step-tabs.active .step { background: red }
        .ab-progress-tracker-four-steps .ab-progress-bar .ab-step-tabs { width: 25%; }
        .ab-progress-bar .ab-step-tabs .step { height: 15px; background: #bec3c7; margin-top: 5px; }
        .ab-progress-bar .ab-step-tabs.active .step { background: #f56530; }
        .ab-progress-bar .ab-step-tabs.ab-first .step { border-top-left-radius: 5px; border-bottom-left-radius: 5px; }
        .ab-progress-bar .ab-step-tabs.ab-last .step { border-top-right-radius: 5px; border-bottom-right-radius: 5px; }
        .ab-progress-bar .ab-step-tabs.ab-first { padding-left: 0; }
        .ab-progress-bar .ab-step-tabs .arr {
            position: absolute;
            top: 50%;
            left: 0;
            width: 0;
            height: 0;
            margin-top: -7px;
            border-top: 7px solid transparent;
            border-bottom: 7px solid transparent;
            border-left: 7px solid #4f92bd;
        }
        .ab-progress-bar .ab-step-tabs a {
            display: block;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 14px;
            color: #5f6267;
            text-decoration: none;
            font-weight: bold;
            cursor: default;
            outline: none;
        }
        .ab-progress-bar .ab-step-tabs.active a { color: #f56530; }
    /* </progress-tracker> */

    /* <separator-button> */
        .ab-mobile-step_1 .ab-nav-steps { display: none; }
        .ab-nav-steps {
            padding-top: 20px!important;
            border-top: 1px solid silver!important;
        }
    /* </separator-button> */

    /* <checkbox-list> */
        .ab-first-step .ab-time-from { margin-right: 12px; }
        .ab-first-step .ab-week-days { list-style: none!important; margin: 0!important; margin-bottom: 3px!important; float: left!important; padding: 0!important; }
        .ab-first-step .ab-week-days li { float: left!important; min-width: 35px!important; text-align: center!important; margin: 0 1px 3px 1px!important; list-style: none!important; }
        .ab-first-step .ab-week-days li label {
            display: block;
            width: 23px;
            height: 23px;
            padding: 0;
            margin: 0 auto;
            margin-top: 8px;
            background: #f56530;
            border-radius: 25px;
            -moz-border-radius: 25px;
            -webkit-border-radius: 25px;
            cursor: pointer;
        }
        .ab-first-step .ab-week-days li label.active { background: #f56530 url("../images/checkbox.png") 0 0 no-repeat; }
        .ab-first-step .ab-week-days li label input { visibility: hidden; }
        .ab-first-step .select-list {
            padding: 4px 6px!important;
            border-radius: 4px!important;
            border: 1px solid silver!important;
            width: auto;
            margin-bottom: 0;
            margin-top: 5px;
            line-height: normal;
            height: 30px!important;
            outline: none;
        }

        .ab-third-step { overflow: hidden; }
        .ab-textarea { width: 100% !important; clear: both; margin-top: 20px; }
        .ab-textarea textarea {
            width: 100%;
            resize: vertical;
            padding: 2px 6px!important;
            border-radius: 4px!important;
            border: 1px solid silver;
            outline: none;
            height: 70px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }
    /* </checkbox-list> */

    /* <form-style> */
        .ab-formGroup { width: 33.33%; margin-bottom: 0; }
        .ab-formGroup.ab-full { width: 100%; }
        .ab-formGroup.ab-w-50 { width: 50%; }
        .ab-formGroup.ab-lastGroup .ab-formField { margin-right: 0; }
        .ab-formGroup .ab-label-error { color: rgb(245, 101, 48); margin-left: 0; font-size: 12px; line-height: 12px; padding-top: 5px; }
        .ab-formGroup .ab-formLabel { display: inline; line-height: normal; font-weight: bold; color: #f56530; }
        .ab-formGroup .ab-formField { margin-right: 10px; padding: 0 7px; margin-top: 5px; }
        .ab-formGroup .ab-formField .ab-formElement {
            padding: 2px 6px!important;
            border-radius: 4px!important;
            border: 1px solid silver;
            outline: none;
            width: 100%;
            white-space: nowrap;
            height: 24px!important;
            margin: 0 0 0 -7px;
            box-sizing: content-box;
            -moz-box-sizing: content-box;
            -webkit-box-sizing: content-box;
        }
        .ab-formGroup .ab-formField .ab-formElement.ab-user-coupon {
            width: 100px;
            display: inline-block;
            margin: 0 10px;
        }
        .ab-formGroup .ab-formField textarea.ab-formElement { height: auto!important; }
        .ab-requested-date-from { background: #ffffff!important; cursor: text!important; }
        .ab-formGroup .ab-formField .ab-user-email.ab-details-error,
        .ab-formGroup .ab-formField .ab-full-name.ab-details-error,
        .ab-formGroup .ab-formField .ab-user-phone.ab-details-error { padding: 2px 5px!important; }
        .ab-first-step .ab-service-form label { line-height: normal; font-weight: bold; display: inline; }
        .ab-first-step .ab-service-form .ab-select-service-error { color: rgb(245, 101, 48); margin-left: 0; }
        .ab-first-step .ab-select { width: 33.33%; margin-bottom: 0; }
        .ab-first-step .ab-select label { color: #f56530; display: inline; }
        .ab-first-step .ab-right { float: right!important; }
        .ab-first-step .ab-time-from { margin-right: 12px; }
        /*.ab-first-step .ab-available-date, .ab-first-step .ab-available-days { margin: 0 15px 12px 0; }*/
        .ab-time-range,
        .ab-available-date,
        .ab-available-days {
            margin-bottom: 15px!important;
            margin-right: 10px!important;
            overflow: hidden;
        }
        .ab-time-range { margin-bottom: 0!important; }
    /* </form-style> */

    /* <grid-row> */
        .ab-row-fluid {
            overflow: hidden;
            margin-bottom:20px!important;
        }
        .ab-row-fluid.last-row {
            margin-bottom: 0!important;
        }
    /* </grid-row> */

    /* <button> */
        .ab-btn {
            padding: 9px 5px!important;
            border: 0!important;
            width: 118px;
            display: block;
            text-align: center;
            border-radius: 4px!important;
            background: #f4662f;
            cursor: pointer!important;
            height: auto!important;
            line-height: 17px;
            outline: none!important;
        }
        .ab-btn span {
            color: #fff!important;
            font-weight: bold!important;
            text-transform: uppercase!important;
        }
        .ab-time-next,
        .ab-time-prev {
            width: 60px;
            background: #f4662f url("../images/time-nav-arr.png") 50% 0 no-repeat;
            height: 35px!important;
            padding: 0 5px!important;
        }
        .ab-time-next { background-position: 50% -56px; margin-left: 10px; }
        .ab-time-prev { background-position: 50% 8px; }
        .btn-apply-coupon { display: inline-block; }
    /* </button> */

/* </booking-form> */


/* <media-query> */
    @media screen and (max-width: 650px) {

        .ab-formGroup {
            float: none!important;
            margin: 0 0 20px 0!important;
            width: 100%!important;
            overflow: hidden;
        }

        .ab-formGroup.ab-clearBottom { margin-bottom: 0!important; }

        .ab-first-step .ab-week-days {
            text-align: center;
            float: none!important;
            margin-bottom: 0!important;
        }

        .ab-first-step .ab-week-days li {
            margin: 0!important;
            width: 14.28571428571429%!important;
            float: none!important;
            display: inline-block;
        }

        .ab-first-step .ab-requested-date-wrap > input {
            font-size: 20px;
        }

        .ab-mobile-step_2 {
            display: none;
        }

        .ab-mobile-step_1 .ab-nav-steps { display: block; }

        .ab-select-mobile {
            width: 95%;
            font-size: 20px;
            margin-top: 5px;
        }

        .ab-mobile-next-step, .ab-mobile-prev-step {
            display: block!important;
        }

        .ab-progress-tracker { display: none; }

        .ab-formGroup .ab-formField { margin-right: 0; }

        .ab-input-wrap .ab-requested-date-wrap .ab-requested-date-from {
            width: 100%;
            font-size: 14px;
            box-sizing: border-box;
           -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
        }

        .ab-first-step .ab-select {
            float: none!important;
            margin: 0 0 10px 0;
            width: 100%;
        }

        .ab-third-step .ab-details-list {
            float: none!important;
            margin: 0 0 10px 0!important;
            width: 100%!important;
        }

        .ab-third-step .ab-details-list .ab-details-wrap { margin-right: 0; }

        .ab-time-range,
        .ab-available-date,
        .ab-available-days {
            margin-bottom: 20px!important;
            width: 100%;
            overflow: hidden;
            float: none;
        }

        .ab-first-step .ab-time-to,
        .ab-first-step .ab-time-from {
            float: none;
            margin: 0;
            display: inline-block;
            width: 48%;
        }

        .ab-first-step .ab-time-to .select-list,
        .ab-first-step .ab-time-from .select-list {
            width: 100%!important;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
        }

        .ab-first-step .ab-time-to { float: right!important; }
        .ab-first-step .ab-time-from { float: left!important; }

        .ab-row-fluid { margin-bottom: 0!important; }

        .ab-desc { margin-bottom: 15px!important; }

        .ab-row-fluid.ab-list {
            margin-bottom: 20px!important;
        }

        .ab-row-fluid.ab-list.ab-last {
            margin-bottom: 20px!important;
        }
    }
/* </media-query> */